body {
    background: #a1caff;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive, sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 64px;
    color: #1411bd;
    background: white;
    padding: 20px;
    top: 0;
    margin: 0;
}

div {
    background: #fff;
    width: 60%;
    margin: 50px auto;
    padding: 20px;
}

p {
    text-align: center;
    font-size: 36px;
    color: #0000ff;
    border: 2px dashed #ff00cc;
    margin: 30px auto 10px auto;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    padding: 20px 0;
}

li {
    margin: 10px 0;
    font-size: 24px;
    list-style: none;
    display: flex;
    justify-content: center;
}

a {
    color: #00f;
    background: #ff0;
    padding: 5px 15px;
    border-radius: 8px;
    border: 2px solid #ff00cc;
    text-decoration: none;
    box-shadow: 2px 2px 8px #ff00cc;
    transition: background 0.2s, color 0.2s;
}

a:hover {
    background: #00f;
    color: #ff0;
    border-color: #00c3ff;
    box-shadow: 0 0 15px #00c3ff;
}